/* App.css or Dashboard.css */
body {
    background-color: rgb(246, 247, 237);
    margin: 0;
    padding: 0;
  }
  
  .dashboard {
    min-height: 100vh; /* Ensure the div covers the full height */
    background-color: rgb(246, 247, 237);
  }
  